@use 'variables' as var;
@use 'mixins' as mix;
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*,*::after, *::before{
    box-sizing: inherit;
}
body{
    font-family: var.$theme-font;
    font-size: 1.6rem;
}

h1{
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 1.2;
}
@include mix.phone{
    h1{
        font-size: 4.8rem;
    }
}
h2{
    font-size: 2.2rem;
}

@include mix.phone{
    h2{
        font-size: 3.2rem;
    }
}

h3{
    font-size: 1.5rem;
}

@include mix.phone{
    h3{
        font-size: 2rem;
    }
}

p{
    font-size: 1rem;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: var.$black;
}

.container{
    max-width: 1000px;
    min-width: 300px;
    width: 90%;
    margin: 0 auto;
}
.paddin-none{
    padding: 0;
}
.mg-none{
    margin: 0;
}
.mg-top{
    margin-top: 25px;
}
.mg-button{
    margin-top: 25px;
}
.pd-top{
    margin-top: 25px;
}
.pd-button{
    margin-top: 25px;
}
.color-blue{
    color: var.$blue;
}
.button{    
    max-width: 300px;
    height: 38px;
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 35px;
    border: 1px solid var.$border-gray;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button-blue{
    color: var.$white;
    background-color: var.$blue;
    border: none;
}
.button-secundary{
    color: var.$blue;
}