@use 'variables' as var;
@use 'mixins' as mix;
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*,*::after, *::before{
    box-sizing: inherit;
}
body{
    font-family: var.$theme-font;
    font-size: 1.6rem;
}

h1{
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1;
}
@include mix.phone{
    h1{
        font-size: 5.8rem;
    }
}


h2{
    font-size: 2.8rem;
}

@include mix.phone{
    h2{
        font-size: 3.5rem;
    }
}


p{
    font-size: 1.6rem;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: var.$black;
}

.container{
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
}
.paddin-none{
    padding: 0;
}
.margin-none{
    margin: 0;
}
.mg-top{
    margin-top: 25px;
}
.mg-button{
    margin-top: 25px;
}
.pd-top{
    margin-top: 25px;
}
.pd-button{
    margin-top: 25px;
}

.button{
    max-width: 300px;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 35px;
    border: 1px solid var.$border-gray;
}
.button-blue{
    color: var.$white;
    background-color: var.$blue;
    border: none;
}
.button-secundary{
    color: var.$blue;
}






.main--background{
    background: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
}