@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$blue : #1d9bf0;
$border-gray: #cfd9de;
$hover-gray: #aeb5b8;
$hover-blue: #bdd0d9;
$theme-font: 'Roboto', sans-serif;
