@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$black: #000000;
$white: #FFFFFF;
$blue : #1d9bf0;
$border-gray: #cfd9de;
$hover-gray: #aeb5b8;
$hover-blue: #bdd0d9;
$theme-font: 'Roboto', sans-serif;


$phone:500px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;